<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.staticfile.org/vue/2.7.0/vue.min.js"></script>
  <title>初始vue</title>
</head>
<body>
  <div id="root">
    <h2>人员列表</h2>
    <input type="text" placeholder="请输入姓名" v-model="inputName">
    <ul>
      <!-- 指令前面没有加冒号的，但是动态的标签属性前面必须加冒号 -->
      <!-- 使用v-for遍历数组 -->
      <li v-for="(p,index) in persons" :key="p.id">
        {{p.name}}-{{p.age}}
      </li>
    </ul>
  </div>
  <script>
    // 创建一个Vue的实例对象，并传入配置对象
    const vm = new Vue({
      el: "#root", // el用于指定当前Vue实例为哪个容器服务，值是选择器字符串，怎么的写法类似于jquery
      data: {
        inputName: "",
        persons: [
          {id:'001',name:"马冬梅",age:18,sex:"男"},
          {id:'002',name:"周冬雨",age:18,sex:"男"},
          {id:'003',name:"周杰伦",age:18,sex:"男"},
          {id:'004',name:"温兆伦",age:18,sex:"男"},
        ],
      },
      watch: {
        inputName(newValue,oldValue){
          this.persons = this.persons.filter((item) =>{
            console.log(item);
            return item.name.includes(newValue)
          })
        }
      }
    })
  </script>
</body>
</html>